#title {
    background-color: #ff4c68;
}

h1 {
    color: white;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}

.container-fluid {
    padding: 3% 15% 7%;
}

body {
    font-family: 'Montserrat-black', sans-serif;
}

p {
    color: #8f8f8f;
}

/* Navigation bar */

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bolder;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
}

.Download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: 'montserrat-bold';
    font-size: 1.5rem;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}


h2 {
    font-family: 'montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}

.test-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 11%;
    margin: 20px 20px 20px 50px;
}

/* Pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.Pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* cta SECTION */
#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}


    .xyyy {
        font-family: 'Montserrat-Black', sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
    }

    /*  Footer  */

#footer{
        padding: 7% 15%;
        text-align: center;
    }

    .btn{
        color: #ef8172;
    }

    .btn:hover{
        color: #ff4c68
    }

    .top-btn{
        color: #fff;
    }
